<?xml version="1.0"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd" 
	version="2.4">
	<display-name>Access workflow</display-name>
	<!--
			Context
	-->
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/classes/log4j.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> 
			classpath:/deploy/dataSource.xml 
            classpath:/deploy/sessionFactory.xml
            classpath:/deploy/support.xml
            classpath:/deploy/coreMgr.xml
			classpath:/deploy/security.xml
		</param-value>
	</context-param>
	<!--
			Dispatcher Servlet
	-->
	<servlet>
		<servlet-name>access</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
                classpath:/access-web.xml
                classpath:/credential-web.xml
				classpath:/access-servlet.xml
			</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>access</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<!--
			Sitemesh Servlet
	-->
	<servlet>
    	<servlet-name>sitemesh-freemarker</servlet-name>
    	<servlet-class>com.opensymphony.module.sitemesh.freemarker.FreemarkerDecoratorServlet</servlet-class>
		<init-param>
			<param-name>TemplatePath</param-name>
			<param-value>/</param-value>
		</init-param>
		<init-param>
			<param-name>default_encoding</param-name>
			<param-value>ISO-8859-1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
    	<servlet-name>sitemesh-freemarker</servlet-name>
    	<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	<!--
			Acegi Filter
	-->
    <filter>
        <filter-name>Acegi Filter Chain Proxy</filter-name>
        <filter-class>net.sf.acegisecurity.util.FilterToBeanProxy</filter-class>
        <init-param>
            <param-name>targetClass</param-name>
            <param-value>net.sf.acegisecurity.util.FilterChainProxy</param-value>
        </init-param>
    </filter>
    <filter-mapping>
      <filter-name>Acegi Filter Chain Proxy</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
	<!--
			Sitemesh Filter
	-->
	<filter>
    	<filter-name>sitemesh</filter-name>
    	<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<filter-mapping>
    	<filter-name>sitemesh</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<!--
			Startup and finish
	-->
	<error-page>
		<error-code>403</error-code>
		<location>/logoff.htm</location>
	</error-page>

</web-app>