body {
	margin:0; padding: 2em;
	font: 75%/1.33 Verdana, sans-serif;
	text-align:left;
}
form, fieldset, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
fieldset {
  margin-top: 1ex;
}
table {
  border-collapse: collapse;
  width: 100%;
}	
tr td {
  vertical-align: top; 
}
.me {
  font-weight: bold;
}
#layout {
  width: 94%;
  margin: auto;
}
/* Entityline 
 */
#entityline {
  
}	
#search {
  float: right;
}	
/* Headline 
 */
#headline {
  height: 120px;
  background: white;
}	
#headline tr {
  padding: 0;
}	
#post {
	float: right;
	clear: both;
	margin: 1ex;
	width: 24ex;
}	
#post h4 {
	font-size: 120%;
	margin-bottom: 1ex;
	padding: 1ex 0 1ex 1ex;
}
#post p {
	padding: 1ex;
}
#headline table tr td {
	padding: 0.5ex 1ex;
}
#leftnav p {
  margin-top: 6px;
  margin-bottom: 6px;
}
/* Sidebar 
 */
#sidebar2 {
  width: 24%;
  padding: 2ex;
  height: 600px;
  min-height: 600px;
}
#sidebar2 h4, #selection h4 {
  padding: 6px;
}
#sidebar2 ul {
  list-style-type:none;
  width: 100%;
  padding-top: 0;
  padding-bottom: 6px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
}
#sidebar2 ul li a {
  width: 100%;
}
#sidebar2 ul li {
  padding-top: 6px;
  padding-bottom: 6px;
}
#sidebar2 select {
  width: 192px;
  max-width: 192px;
}
#sidebox {
	margin-bottom: 1ex;
}
#sidebox p {
	padding: 0 1ex 0 1ex;
}
/* Browse 
 */
#panel { 
	padding: 0.5em;
}
#panel div table thead tr td { 
}
#panel div table {
  padding-top: 0em;
  padding-bottom: 1em;
  padding-right: 0.5em;
}
#browse h2 {
  font-size: 200%;
  margin-left: 0;
  padding: 0.5ex;
}
#browse ul {
  margin-left: 0.5ex;
  padding: 0;
}

#browse td, #browse h4, #browse h5 {
  padding: 0.5em;
}

#browse h3 {
  margin-left: 0.75em;
  font-size: 150%;
}
#browse ul {
  width:100%;
  margin-bottom: 0.5em;
  margin-top: 0;
  list-style-type:none;
}
#browse ul li {
  display: inline
}
#browse ul li a, table.optionLine tr td a, #nav, #nav li a
{
  text-decoration:none;
  margin-left: 0;
  padding: 0.3em 0.1em;
}
#nav, #nav li, #nav li a
{
  width: 100%;
}
#amount input, #amount p {
	font-size: 400%;
	font-weight: bold;
}
.process-color table {
	float: right;
	width: 8em;
}
table.help {
  width: 240px;
  color: #ffffff;
  font-weight: bold;
  font-size: 75%;
}
.bxError {
  border-bottom: 1px solid;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.tr {
  font-size: 66%;
}
/* Trees */
.trLevel1 {
  padding-left: 24px;
}
.trLevel2 {
  padding-left: 48px;
}
.trButton {
	font-size: 50%;
	width: 18px;
	height: 18px;
	margin-left: 12px;
}
.tree { margin-left: 0; list-style-type:none; }
.treeLevel0 { margin-left: -1em; }
.treeLevel1 { margin-left: -1em; }
.treeLevel2 { margin-left: 0; }
.treeLevel3 { margin-left: 1em; }
.treeLevel4 { margin-left: 2em; }
.treeLevel5 { margin-left: 3em; }

/**
 * cartões
 */
.cardSetTable {
	height: 260mm; 
	page-break-after: always; 
}
.cardSetRow {
	padding: 0;
}
.cardSetCell {
	height: 56mm;
	border: 1px solid #eeeeee;
	background: white; 
}
.cardSet {
	vertical-align: center;
	width: 64mm; 
	margin: 6mm;
}
.cardSetEntity {
	font-size: large;
	font-weight: bold; 
}
.cardSetProcess {
	font-size: large; 
}
.cardSetException {
	font-size: large; 
}
.cardSetOther {
	font-size: large; 
}
.cardSetSponsor {
	font-size: small; 
}
.cardSetNumber {
	font-size: large; 
}
.cardSetColor {
	height: 12mm;
}


/**
 * calendário
 */
.calendar {
	margin-top: 1ex;
	float: left;
	clear: left;
	padding: 0;
}
.calendar td {
	margin: 0;
	max-width: 2em;
}
.tm {
	font-size: 70%;
	padding: 0.5ex;
}


a:link, a:visited {
  color: #555555;
}
a:hover {
  color: #999999;
}

.ident0 {
	color: red;
  padding: 0px;
}
.ident1 {
  padding-left: 12px;
}
.ident2 {
  padding-left: 24px;
}
.ident3 {
  padding-left: 36px;
}
.ident4 {
  padding-left: 48px;
}
.ident5 {
  padding-left: 60px;
}
.ident6 {
  padding-left: 72px;
}

/**
 * @deprecated
 */
#header {
  width: 100%;
  height: 15%;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
}
#wide {
  width: 100%;
  height: auto;
  padding: 1em;
}
#main {
  position: static;
  width: auto;
  height: auto;
  margin-left: 21em;
  padding: 1em;
}
#detail {
  width: 20em;
}
#narrow_detail {
  width: 12em;
}
#wide_detail {
  width: 30em; 
  clear: right;
  margin-top: 1em;
  padding: 1em 0;
}
#footer {
  width: 100%;
  height: auto;
}
#navigator {
  float: right;
  margin-top: -1em;
  padding: 1px;
}
#sidebar {
  float: left;
  width: 20em;
  height: 100%;
  margin-top: 1em;
}
#east,#west {
  vertical-align: top;
  padding: 0px 0px 0px 0px;
}
#east {
  width: 240px;
  background: #dddddd;
}
