/* HELIANTO STANDARD */
body 
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    clip: rect(   );
    background-position: 0px 0px;
    background-color:#ffffff;
    margin-top: 0px;
}

table
{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt; 
    line-height: 15pt;
    max-width: 780px;
    width: 100%;
}

th, td 
{
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
}

thead tr 
{
    background-color: #fc0;
}

img
{ 
	border:none;
}

.tabletitle 
{ font-weight: bold;
  color: #FFFFFF
}

.tablenormal
{ font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 8pt;
  line-height: normal
}

a:link {
  color: black;
  text-decoration: underline;
}
a:visited {
  color: black;
  text-decoration: underline;
}
a:hover {
  color: #000099;
  text-decoration: underline;
}
a.nav:link
{ text-decoration: underline;
  color: "#0067B0"; 
}

a.nav:visited 
{ text-decoration: underline;
  color: "#0067B0"; 
}

a.nav:hover 
{ text-decoration: underline;
  color: #3366FF; 
}

a.menu:link
{ color: #000000; 
; text-decoration: none
}

a.menu:visited 
{ color: #000000; 
; text-decoration: none
}

a.menu:hover 
{ color: #006699; 
; text-decoration: none
}
.graybg:link {  color: #000000; text-decoration: underline; font-weight: bold}
.graybg:visited { color: #000000; text-decoration: underline ; font-weight: bold}
.graybg:hover { color: #0000FF; text-decoration: underline ; font-weight: bold }

#-------------

div#header1 {
	background-color: #fea;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	/*padding: 20px 10px 30px 15px;*/
	margin: 10px 5% 20px 5%;
}
div#header ul{
	margin: 10px 0 0 0;
}
div#header ul li{
	list-style-type: none;
	float: left;
	padding: 0 10px 0 0;
	font-weight: bold;
}
div#header ul li a{
	display: block;
	color: #f00;
	border-left: 1px solid red;
	padding-left: 5px;
}
div#header ul li a:hover{
	border-left: 1px solid #000;
}

acronym 
{
	border-bottom: 1px dashed #000;
	cursor: help;
}

div#body1 {
	margin: 0 5% 20px 5%;
	padding: 20px 20px 20px 20px;
	border: 1px dashed #666;
}

div#validxhtml {
	float: right;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px;
	margin: 5px;
	width:100px;
	text-align: center;
}
div#footer {
	border-top: 1px solid #666;
	padding: 5px 5px 5px 5px;
	text-align:right;
}

div#footer span {
	float: left;
}

ul#stylelist {
	margin:0 0 30px 0;
}

ul#stylelist li {
	list-style-type: none;
	float:left;
	width:100px;
	border: 1px solid #ccc;
	background-color: #eee;
	padding:2px;
	margin-right: 2px;
}
th.sorted {
    background-color: orange;
}
th a, th a:visited {
  color: black;
}
th a:hover {
  text-decoration: underline;
  color: black;
}
th.sorted a, th.sortable a {
	background-position: right;
	display: block;
	width: 100%;
}

input.btn {
   color:#050;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:84%;
   font-weight:bold;
   background-color:#fed;
   border:1px solid;
   border-top-color:#696;
   border-left-color:#696;
   border-right-color:#363;
   border-bottom-color:#363;
}

