<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<mapping class="org.helianto.core.Operator" />
		<mapping class="org.helianto.core.Service" />
		<mapping class="org.helianto.core.Province" />
		<mapping class="org.helianto.core.UserRole" />
		<mapping class="org.helianto.core.UserLog" />
		<mapping class="org.helianto.core.Unit" />
		<mapping class="org.helianto.core.KeyType" />
	</session-factory>
</hibernate-configuration>


