body {
	background-color: white;
}

.container {
	background-image: url("/helianto/helianto.png");
	background-repeat: no-repeat;
}

/* Headline must match background-image height */
#headLine {
	height: 160px;
}

#menu {
	color: #444444;
}

#entityLine a,
#entityLine a:link,
#entityLine a:hover 
#entityLine a:visited {
	color: #444444;
}

a {
	color: #777777;
}

a:hover {
	color: #FF9E27;
}

hr {
	border: 1px solid #CCCCCC;
}

input,
select {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #777777;
}

textarea {
	background: none repeat scroll 0 0 #EEEEEE;
	border: 1px solid #CCCCCC;
	color: #777777;
}

h1,
h2,
h3 {
	background: none repeat scroll 0 0 transparent;
	color: #FF9E27;
}

h3 {
	background: none repeat scroll 0 0 #777777;
}

#headline,
#main a {
	background: none repeat scroll 0 0 transparent;
}

#poweredby ul li {
	border-style: none;
}

.optionLine,table.optionLine tr td a {
	color: #FFFFFF;
	text-decoration: none;
}

#main h2,
#main h3 {
	background: none repeat scroll 0 0 transparent;
	color: #777777;
}

#main li a,
ul#nav,
ul#nav li a {
	background-color: #444444;
	color: white;
}

#main li a:hover,
table.optionLine tr td a:hover,
#nav li a:hover {
	background-color: #FF3300;
}

#main div table thead,
.panel {
	background: none repeat scroll 0 0 #226ea6;
	color: white;
}

#selection {
	background: none repeat scroll 0 0 #FF9E27;
	color: #FFFFFF;
}

#sidebar {
	background: none repeat scroll 0 0 #8298A3;
	color: #444444;
}

#sidebar a,
#sidebar a:link,
#sidebar a:visited {
	color: #777777;
}

#sidebar h3 {
	background: none repeat scroll 0 0 white;
}

#sidebar h4,
#selection h4 {
	background: none repeat scroll 0 0 #226ea6;
	color: #FFFFFF;
}

#sidebox {
	background-color: #ACD9E5;
	border: 1px solid #6FCBE5;
}

#sidebox p {
	color: #800000;
}

#panel table,
#panel h5 {
	background: none repeat scroll 0 0 #DDDDDD;
}

#panel h4 {
	background: none repeat scroll 0 0 #FF9E27;
	color: white;
}

#amount input {
	border: 1px solid #157089;
}

.selectionList tbody {
	background: none repeat scroll 0 0 #CFD3D6;
}

#info h3 {
	background: none repeat scroll 0 0 white;
	color: black;
}

#remove {
	background: none repeat scroll 0 0 #DDDDDD;
	border: 1pt solid gray;
}

.row1 {
	background: none repeat scroll 0 0 #EEEEEE;
}

.alert_Y {
	color: red;
}
