.menuLine {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("images/nav-right-bg.png");
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 10px;
	position: relative;
	right: 0px;
	text-transform: uppercase;
	top: 12px;
	z-index: 1000;
}

.menuLine ul {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("images/nav-left-bg.png");
	background-position: left center;
	background-repeat: no-repeat;
	float: left;
	padding-left: 10px;
	position: relative;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.menuLine ul li {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-attachment: scroll;
	background-color: transparent;
	background-image: url("images/nav-bg.png");
	background-position: 0 0;
	background-repeat: repeat-x;
	float: left;
	position: relative;
}

.menuLine ul li:hover ul ul,.menuLine ul li:hover ul ul ul,.menuLine ul li:hover ul ul ul ul
	{
	display: none;
}

.menuLine ul li:hover ul,.menuLine ul li li:hover ul,.menuLine ul li li li:hover ul,.menuLine ul li li li li:hover ul
	{
	display: block;
}

.menuLine ul li a {
	color: #FFFFFF;
	display: block;
	font-size: 11px;
	line-height: 40px;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
}

.menuLine ul li a:hover {
	text-decoration: none;
}

.menuLine ul li ul {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-attachment: scroll;
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	display: none;
	left: -10px;
	position: absolute;
	top: 40px;
	width: 160px;
}

.menuLine ul li ul li {
	-moz-background-clip: border;
	-moz-background-origin: padding;
	-moz-background-size: auto auto;
	background-attachment: scroll;
	background-color: #303030;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
}

.menuLine ul li ul li a {
	border-top-color: #888888;
	border-top-style: solid;
	border-top-width: 1px;
	float: left;
	height: auto;
	width: 160px;
}

.menuLine ul li ul li ul {
	left: -190px;
	top: 0;
}

